*{
    padding: 0;
    margin: 0;
}

.custom-navbar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    row-gap: 220px;
    width: 100%;
    border-bottom: 1px solid black;
}

.custom-navbar:first-child {
    font-size: 1.5em;
    font-weight: 500;
}

.timer {
    font-size: 5.5em;
}

.timer-section {
    margin-top: 2.5em;
}